<section
    class="landing-section bg-gray-200 text-center relative overflow-hidden"
    data-header-color="white"
>
    <div class="relative h-full flex flex-col">
        <header>
            <div>
                <h2
                    class="bg-white text-black pt-20 pb-4 text-[30px] font-medium"
                >
                    Último Gran Premio
                </h2>
                <div
                    class="bg-bg-standings bg-cover bg-center text-white text-center p-4 h-64"
                >
                    <h3
                        id="last-circuit-country"
                        class="text-white pt-2 text-[40px] font-bold uppercase"
                    >
                        <!-- Pais de la ultima carrera extraido de la API  -->
                    </h3>
                    <p class="text-white text-[40px] font-bold">2024</p>
                    <a
                        id="last-circuit-name"
                        class="rounded uppercase text-lg
                        font-light px-12 py-2 text-white"
                        href="#"></a>
                </div>
            </div>
        </header>
        <div class="flex justify-center items-center -mt-20">
            <div class="bg-gray-200 p-3 rounded-lg w-2/3">
                <ul id="last-race"></ul>
            </div>
        </div>
    </div>

    <script>
        const API_KEY = "fea700892e614ca1790bf55aedcb7bfc";
        fetch(`https://v1.formula-1.api-sports.io/rankings/races?race=1877`, {
            method: "GET",
            headers: {
                "x-rapidapi-host": "v1.formula-1.api-sports.io",
                "x-rapidapi-key": API_KEY,
            },
        })
            .then((response) => response.json())
            .then((data) => {
                // Obtén la lista de pilotos del objeto JSON
                const results = data.response;

                // Mapea los datos para obtener la posición y el nombre de cada piloto
                const resultList = results.map((result) => {
                    // Cambiar el nombre del equipo según tus requisitos
                    let teamName = result.team.name;
                    if (teamName === "Red Bull Racing") {
                        teamName = "redbull";
                    } else if (teamName === "Scuderia Ferrari") {
                        teamName = "ferrari";
                    } else if (teamName === "McLaren Racing") {
                        teamName = "mclaren";
                    } else if (teamName === "Mercedes-AMG Petronas") {
                        teamName = "mercedes";
                    } else if (teamName === "Aston Martin F1 Team") {
                        teamName = "astonmartin";
                    } else if (teamName === "Haas F1 Team") {
                        teamName = "haas";
                    } else if (teamName === "Visa Cash App RB Formula One Team") {
                        teamName = "rb";
                    } else if (teamName === "Alpine F1 Team") {
                        teamName = "alpine";
                    } else if (teamName === "Williams F1 Team") {
                        teamName = "williams";
                    } else if (teamName === "Stake F1 Team Kick Sauber") {
                        teamName = "sauber";
                    }

                    return `
                        <li class="flex justify-between items-center py-3 px-4 mb-0.5 rounded-lg bg-white hover:bg-gray-800 hover:text-white">
                            <div>
                                <strong>${result.position}</strong> 
                            </div>
                            <div class="w-1 h-3 mx-2 bg-${teamName}"></div>
                            <div>
                                <strong>${result.driver.name}</strong> | <span class="font-light">${result.team.name}</span>
                            </div>
                            <div class="ml-auto bg-gray-200 rounded-full py-1 px-2">
                                ${result.time}
                            </div>
                            <i class="fas fa-chevron-right ml-2"></i>
                        </li>`;
                });

                // Actualiza el contenido de un elemento en tu HTML con la lista de pilotos
                const resultsListElement = document.getElementById("last-race");
                resultsListElement.innerHTML = `<ul>${resultList.join("")}</ul>`;
            })
            .catch((error) => console.log("Error al obtener datos:", error));

        fetch(`https://v1.formula-1.api-sports.io/races?last=1&season=2024`, {
            method: "GET",
            headers: {
                "x-rapidapi-host": "v1.formula-1.api-sports.io",
                "x-rapidapi-key": API_KEY,
            },
        })
            .then((response) => response.json())
            .then((data) => {
                // Obtén la lista de pilotos del objeto JSON
                const lasts_circuit = data.response;

                // Mapea los datos para obtener la posición y el nombre de cada piloto
                const lastCircuitCountry = lasts_circuit.map((last_circuit) => {
                    return `${last_circuit.competition.location.country}`;
                });
                // Actualiza el contenido de un elemento en tu HTML con la lista de pilotos
                const lastes_circuitElement = document.getElementById(
                    "last-circuit-country",
                );
                lastes_circuitElement.innerHTML = `${lastCircuitCountry.join("")}`;

                // Mapea los datos para obtener la posición y el nombre de cada piloto
                const lastCircuitName = lasts_circuit.map((last_circuit) => {
                    return `${last_circuit.circuit.name}`;
                });
                // Actualiza el contenido de un elemento en tu HTML con la lista de pilotos
                const lastes_circuit_nameElement =
                    document.getElementById("last-circuit-name");
                lastes_circuit_nameElement.innerHTML = `${lastCircuitName.join("")}`;
            })
            .catch((error) => console.log("Error al obtener datos:", error));
    </script>
</section>

<section class="bg-slate-800 relative h-auto flex flex-col">
    <!-- Seccion proximo gran premio -->
    <div class="mx-20">
        <header>
            <h2 class="text-white text-center py-4 text-[30px] font-medium">
                Próximamente
            </h2>
        </header>
        <div class="flex h-1/2">
            <div class="w-1/4">
                <div class="flex justify-between items-center">
                    <div>
                        <p class="text-white text-4xl font-medium">19-21</p>
                        <span
                            class="text-2xl font-bold bg-white rounded text-gray-800 px-1.5"
                            >APR</span
                        >
                    </div>
                    <img
                        src="/banderas/China.png"
                        alt=""
                        class="w-8 h-6 rounded items-end"
                    />
                </div>

                <hr class="my-2" />
                <p class="text-white text-4xl font-medium">China</p>
                <p class="text-white text-normal font-medium">
                    FORMULA 1 LENOVO CHINESE GRAND PRIX 2024
                </p>
                <hr class="my-2" />
                <img
                    src="https://media.formula1.com/content/dam/fom-website/2018-redesign-assets/Track%20icons%204x3/China.png.transform/2col-retina/image.png"
                    alt="Descripción de la imagen"
                    class="max-w-full"
                />
            </div>
            <div class="rounded-lg w-3/4 items-center justify-center">
                <img
                    src="/circuitos/China.jpg"
                    alt=""
                    class="rounded-lg max-h-full max-w-full mb-4 h-3/4 ml-auto"
                />
                <div
                    class="absolute top-0 left-0 right-0 bottom-0 flex items-center justify-end mr-28"
                >
                    <!-- Contenido de la tarjeta -->
                    <div class="bg-gray-800 p-2 shadow-lg rounded-lg">
                        <table class="min-w-full divide-y divide-gray-200">
                            <tbody class="text-white">
                                <tr>
                                    <td class="px-3 py-3 whitespace-nowrap"
                                        >LIBRES 1</td
                                    >
                                    <td
                                        class="px-3 py-3 whitespace-nowrap text-gray-400"
                                        >VIE</td
                                    >
                                    <td class="px-3 py-3 whitespace-nowrap"
                                        ><span
                                            class="bg-gray-400 rounded-full text-sm py-1 px-2"
                                            >09:00</span
                                        ></td
                                    >
                                </tr>
                                <tr>
                                    <td class="px-3 py-3 whitespace-nowrap"
                                        >LIBRES 2</td
                                    >
                                    <td
                                        class="px-3 py-3 whitespace-nowrap text-gray-400"
                                        >VIE</td
                                    >
                                    <td class="px-3 py-3 whitespace-nowrap"
                                        ><span
                                            class="bg-gray-400 rounded-full text-sm py-1 px-2"
                                            >09:00</span
                                        ></td
                                    >
                                </tr>
                                <tr>
                                    <td class="px-3 py-3 whitespace-nowrap"
                                        >LIBRES 3</td
                                    >
                                    <td
                                        class="px-3 py-3 whitespace-nowrap text-gray-400"
                                        >SÁB</td
                                    >
                                    <td class="px-3 py-3 whitespace-nowrap"
                                        ><span
                                            class="bg-gray-400 rounded-full text-sm py-1 px-2"
                                            >09:00</span
                                        ></td
                                    >
                                </tr>
                                <tr>
                                    <td class="px-3 py-3 whitespace-nowrap"
                                        >CLASIFICACIÓN</td
                                    >
                                    <td
                                        class="px-3 py-3 whitespace-nowrap text-gray-400"
                                        >SÁB</td
                                    >
                                    <td class="px-3 py-3 whitespace-nowrap"
                                        ><span
                                            class="bg-gray-400 rounded-full text-sm py-1 px-2"
                                            >09:00</span
                                        ></td
                                    >
                                </tr>
                                <tr>
                                    <td class="px-3 py-3 whitespace-nowrap"
                                        >CARRERA</td
                                    >
                                    <td
                                        class="px-3 py-3 whitespace-nowrap text-gray-400"
                                        >DOM</td
                                    >
                                    <td class="px-3 py-3 whitespace-nowrap"
                                        ><span
                                            class="bg-gray-400 rounded-full text-sm py-1 px-2"
                                            >09:00</span
                                        ></td
                                    >
                                </tr>
                                <!-- Agrega más filas según sea necesario -->
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
